name: Deploy SgruntBot

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4.0.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Increase Patch version
        run: ./gradlew incrementSemanticVersion --patch
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: Update PATCH Version to ${{ env.SGRUNT_VERSION }} [skip actions]
          branch: master
      - name: Pull, build and restart SgruntBot
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/SgruntBot
            ./gradlew --stop
            git pull
            nohup ./gradlew bootRun > out.log 2>error.log &
