name: Deploy SgruntBot
on:
  workflow_dispatch
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Pull, build and restart SgruntBot
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/SgruntBot
            git pull
            kill "$(cat run.pid)"
            ./gradlew bootJar
            nohup java -jar build/libs/sgruntbot-1.0-SNAPSHOT.jar > out.log 2>error.log & echo $! > run.pid
